body {
  font-family:sans-serif;
  margin: 20px;
  background: white;
}

h2, h3 {
  text-align: center;
  margin: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}

th {
  background: rgb(244, 242, 242);
}

.break {
  background: #ffe699;
  font-weight: bold;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.lab {
  background:pink;
  font-style:bolder;
}