body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.form-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


label {
    display: block;
    display:flex;
    align-items:center;
    gap:5px;
    margin-top: 10px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
select.dropown{
    width :100%;
    padding : 8px;
    margin-bottom:15px;
    border:1px solid black;
    border-radius:5px;

}

input[type="submit"]:hover {
    background: #45a049;
}