
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.resume {
  background: #fff;
  max-width: 800px;
  width: 100%;
  padding: 30px;
  border-radius: 8px;

}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
    text-align:center;
  font-size: 2em;
  color: black;
  padding-bottom:20px;
}

header p {
    text-align:center;
  font-size: 0.9em;
  color: #555;
  padding:8px;
}

h2 {
    text-align:center;
  color:black;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

section {
  margin-bottom: 20px;
}

.projects h3 {
    text-align:center;
  font-size: 1.1em;
  color: #0f172a;
}



ul {
  margin-left: 20px;
 
}



.skills li {
 
  padding: 5px 10px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}
footer {
 text-align:center;
 margin:30px;
 font-size:medium;
}
footer a{
    color:#333;
    font-weight:bold;
}
footer a:hover{
    color:rgb(118, 118, 243);
}